/* Colors */
$white: #ffff;
$grey: #d6d4d4;
$grey-light: #f3f3f3;
$orange: #EC6445;
/* Medias */
$bp-new-small: 320px !default;
$bp-new-medium-simple: 640px !default;
$bp-new-medium: 768px !default;
$bp-new-medium-tablet: 880px !default;
$bp-new-medium-high: 1024px !default;
$bp-new-large: 1280px !default;
$bp-new-xlarge: 1440px !default;
$bp-new-homepage-max: 2000px !default;