*,
*::before,
*::after {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
    color: black;
}
body{
    background-color: rgb(231, 230, 230);
    font-family: 'Poppins', sans-serif;
}
.expand-main{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 14% 1fr;
    grid-template-rows: 8% 1fr 40px;
}
.close-main{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 5% 1fr;
    grid-template-rows: 8% 1fr 40px;
}
ul{
    list-style-type: none;
    font-weight: 800;
}
img{
    max-width: 100%;
    height: auto;
}
h3{
    font-size: 25px;
    font-size: 200;
}
h5{
    font-size: 20px;
    font-weight: 200;
}
/*comienza header*/
header{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 10px black;
}
.titulo{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}
.titulo a{
    color: rgb(235, 129, 203);
}
.titulo h2{
    padding: 0.5rem;
}
header nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 10%;
}

header nav ul li i{
    color: rgb(235, 129, 203);
    font-size: 1.2rem;
}
header nav ul li i:hover{
    color: rgb(235, 129, 203,0.5);
    font-size: 1.5rem;
}
.ocultar-menu{
    display: none;
}

/*Comienza el aside*/
aside{
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: rgb(0,59,113);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 80%;
    justify-items: center;
}
.logo{
    grid-column: span 1;
    grid-row: 1/3;
    padding: 1rem;
}

.sidebar-nav{
    grid-column: span 1;
    grid-row: 3/4;
    width: 100%;
}
.sidebar-nav ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;

}
.menu-title{
    color: rgb(112, 111, 111);
    font-size: 12px;
}
.sidebar-nav ul li{
    width: 100%;
    padding: 0.5rem;
}

.sidebar-nav ul li a{
    width: 100%;
    text-decoration: none;
    color: rgb(158, 156, 156);
    font-size: 16px;
}

.item-menu:hover{
    background-color: aliceblue;
}
.active{
    color: red;
}

.sidebar-nav ul li a:hover{
    color:rgb(235, 129, 203);
}
.item{
    width: 100%;
    display: flex;
    align-items: center;
}
.item i{
    padding-left: 1rem;
}
.item-close{
    font-size: 1.8rem;
    padding-left: 1rem;
}
.close-menu{
    display: none;
}

/*Comienza el Main*/
.content{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}
/*Contenedor Home*/
.container-home{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    gap:10px;
    padding: 1rem;
}
.seccion1{ 
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: #fff;
}
.seccion2{
    grid-column: 5/9;
    grid-row: 1/2;
    background-color: #fff;
}
.seccion3{
    grid-column: 9/13;
    grid-row: 1/2;
    background-color: #fff;
}
.seccion4{
    grid-column: 1/9;
    grid-row: 2/5;
    background-color: #fff;
    padding: 1rem;
}
.seccion5{
    grid-column: 9/13;
    grid-row: 2/5;
    background-color: #fff;
}
.seccion6{
    grid-column: 1/7;
    grid-row: 5/7;
    background-color: #fff;
}
.seccion7{
    grid-column: 7/13;
    grid-row: 5/7;
    background-color: #fff;
}

/*Footer*/
footer{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: rgb(235, 129, 203);
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-align: center;
    padding: 0.5rem;
}
footer a{
    color: rgb(199, 194, 194);
}

/*Login*/
.login-fondo{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color:#fff;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    height: 60%;
}
.form h2{
    font-size: 2rem;
}
.inputs_login{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs_login input:focus{
    outline: 2px solid rgb(235, 129, 203);
}
.inputs_login input{
    outline: 2px solid rgb(214, 214, 214);
    border: none;
    border-radius: 0.2rem;
    padding: 1rem;
    width: 100%;
}
.inputs_login input{
    margin-bottom: 1rem;
}
.inputs_login a{
    color: rgb(235, 129, 203);
    cursor: pointer;
    text-align: center;
}
.btn_login{
    width: 100%;
}
.btn_login input{
    width: 100%;
    height: 45px;
    background-color: rgb(235, 129, 203);
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    cursor: pointer;
}